# =========================
# PANEL DOCENTE
# =========================
@app.route("/panel_docente")
def panel_docente():

    if "docente_id" not in session:
        return redirect("/docente_login")

    docente_id = session["docente_id"]

    conn = psycopg2.connect(
        os.environ.get("DATABASE_URL")
    )

    cursor = conn.cursor()

    # =========================
    # DOCENTE
    # =========================
    cursor.execute("""
        SELECT
            id,
            nombre,
            correo
        FROM docentes
        WHERE id=%s
    """, (docente_id,))

    d = cursor.fetchone()

    docente = {
        "id": d[0],
        "nombre": d[1],
        "correo": d[2]
    }

    # =========================
    # MODULOS
    # =========================
    cursor.execute("""
        SELECT
            id,
            titulo,
            descripcion
        FROM modulos
        WHERE docente_id=%s
        ORDER BY id DESC
    """, (docente_id,))

    modulos_db = cursor.fetchall()

    modulos = []

    for m in modulos_db:

        modulos.append({
            "id": m[0],
            "titulo": m[1],
            "descripcion": m[2]
        })

    # =========================
    # CONTENIDOS
    # =========================
    cursor.execute("""
        SELECT
            id,
            titulo,
            tipo,
            url,
            modulo_id
        FROM contenidos
        ORDER BY id DESC
    """)

    contenidos_db = cursor.fetchall()

    contenidos = []

    for c in contenidos_db:

        contenidos.append({
            "id": c[0],
            "titulo": c[1],
            "tipo": c[2],
            "url": c[3],
            "modulo_id": c[4]
        })

    # =========================
    # ESTUDIANTES
    # =========================
    cursor.execute("""
        SELECT
            id,
            nombre,
            correo,
            documento
        FROM estudiantes
        ORDER BY id DESC
    """)

    estudiantes_db = cursor.fetchall()

    estudiantes = []

    for e in estudiantes_db:

        estudiantes.append({
            "id": e[0],
            "nombre": e[1],
            "correo": e[2],
            "documento": e[3]
        })

    cursor.close()
    conn.close()

    return render_template(
        "panel_docente.html",
        docente=docente,
        modulos=modulos,
        contenidos=contenidos,
        estudiantes=estudiantes,
        notas=[],
        entregas=[]
    )